@import "tailwindcss";

@theme {
  --color-primary: #1e3a8a;
  --color-secondary: #10b981;
  --color-accent: #f59e0b;
  --color-darkmode: #1f2937;
  --color-light: #f3f4f6;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../../src/assets/images/background-hero.avif");
  background-size: cover;
  background-position: center;
}

.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1);
}

.testimonial-card {
  transition: all 0.3s ease;
}

.testimonial-card:hover {
  transform: scale(1.03);
}

.nav-link {
  position: relative;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--color-accent);
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}
